<h2>Menú de clientes</h2>
<hr/>
<button mat-raised-button color="primary" routerLink="registrarCliente">Registrar cliente</button>
<mat-form-field style="float: right;">
  <mat-label>Buscador</mat-label>
  <input matInput [formControl]="buscador" (input)="buscar()">
</mat-form-field><br>
<br>

<span class="tituloTabla">Clientes registrados:</span>
<div>

  <table mat-table [dataSource]="tabla" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="columnaID"> ID </th>
        <td mat-cell *matCellDef="let element" class="columnaID"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="columnaNombre"> Nombre </th>
        <td mat-cell *matCellDef="let element" class="columnaNombre"> {{element.nombre}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef class="columnaApellido"> Apellido </th>
        <td mat-cell *matCellDef="let element" class="columnaApellido"> {{element.apellido}} </td>
      </ng-container>
  
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef class="columnaTelefono"> Teléfono </th>
        <td mat-cell *matCellDef="let element" class="columnaTelefono"> {{element.telefono}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="columnaDireccion"> Email </th>
        <td mat-cell *matCellDef="let element" class="columnaDireccion"> {{element.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef class="columnaOpciones">Opciones</th>
        <td mat-cell *matCellDef="let element" class="columnaOpciones">
          <button routerLink="editarCliente" mat-icon-button color="primary" aria-label="Example icon button with a delete icon" (click)="enviarDatosCliente(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="eliminarCliente(element.id)" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let fila; columns: columnas;"></tr>
  </table>
</div>
<br>
<mat-card>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Elementos a mostrar</mat-label>
      <mat-select [(value)]="elementos" (selectionChange)="datosClientes(elementos, pagActual)">
        <mat-option value="5">5 elementos</mat-option>
        <mat-option value="10">10 elementos</mat-option>
        <mat-option value="20">20 elementos</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="btnFlechas" [disabled]="btnDisabled2" mat-raised-button color="white" aria-label="Example icon button with a menu icon" (click)="cambioPaginaMENOS(pagTotal)"><mat-icon>arrow_back</mat-icon>
    </button>
    <button class="btnFlechas" [disabled]="btnDisabled1" mat-raised-button color="white" aria-label="Example icon button with a menu icon" (click)="cambioPaginaMAS(pagTotal)"><mat-icon>arrow_forward</mat-icon>
    </button>
    <div>
      <span>{{pagActual}} de {{pagTotal}}</span>
    </div>

  </mat-card-content>
</mat-card>
