<h2>Registrar nuevo cliente</h2>

<div>

    <form>
        <div style="width: 190px;">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput [formControl]="nombre">
            </mat-form-field>
            <br>
            <span [hidden]="!(nombre.value == '') || nombre.pristine">
                - El nombre es obligatorio.
            </span>
            <span [hidden]="!nombre.errors?.['minlength']">
                - 3 carácters mínimo.
            </span>
            <span [hidden]="!nombre.errors?.['maxlength']">
                - 20 carácters máximo.
            </span>
        </div>
        <div style="width: 190px;">
            <mat-form-field>
                <mat-label>Apellido</mat-label>
                <input matInput [formControl]="apellido">
            </mat-form-field>
            <br>
            <span [hidden]="!(apellido.value == '') || apellido.pristine">
                - El apellido es obligatorio.
            </span>
            <span [hidden]="!apellido.errors?.['minlength']">
                - 3 carácters mínimo.
            </span>
            <span [hidden]="!apellido.errors?.['maxlength']">
                - 20 carácters máximo.
            </span>
        </div>
        
        <div style="width: 190px;">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email" (input)="verificarEmail(email.value)">
            </mat-form-field>
            <br>
            <span [hidden]="!email.errors?.['email'] || email.pristine">
                - Correo incorrecto.
            </span>
            <span [hidden]="!(email.value == '') || email.pristine">
                - El correo es obligatorio.
            </span>
            <span *ngIf="verificarEmail(email.value)">
                - Email ya registrado.
            </span>
        </div>
        
        <br>
        
        <div style="width: 300px; margin-bottom: 20px;">
            <mat-form-field class="matDireccion">
                <mat-label>Teléfono</mat-label>
                <input style="height: 20px;" matInput [formControl]="telefono">
            </mat-form-field>
            <br>
            <span [hidden]="!(telefono.value == '') || telefono.pristine">
                - El teléfono es obligatorio.
            </span>
        </div>
        
        <button [disabled]="(nombre.invalid || apellido.invalid) || (email.invalid || telefono.invalid)" mat-raised-button color="primary" (click)="enviarCliente()">Aceptar</button>
        <button mat-raised-button color="basic" routerLink="">Cancelar</button>
    </form>
</div>